<head>
    <meta name="xm-bind-id-client_id" content="<%= process.env.CLIENT_ID %>">

</head>

<body>
    
    <h1>Hi <%= code %> </h1>
    <% console.log('Code in index: ' + code) %> 

    <script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally%2CTextDecoder%2CTextEncoder%2CObject.entries"></script>
    <script src="https://signin.bindid-sandbox.io/bindid-sdk/transmit-bind-id-sdk.js" defer></script>
    <script async="true">
        
        function sendAuthCodeToServer(authCode) {
            const clientId = '<%= process.env.CLIENT_ID %>'
            const clientSecret = '<%= process.env.CLIENT_SECRET %>'
            const redirect_uri = '<%= process.env.REDIRECT_URI%>'
                        
            console.log("redirect_uri: " + clientId);
            console.log("client_id: " + clientSecret);
            console.log("client_secret: " + redirect_uri);
            
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
            myHeaders.append("Host", "signin.bindid-sandbox.io");
            
            var urlencoded = new URLSearchParams();
            urlencoded.append("grant_type", "authorization_code");
            urlencoded.append("code", authCode);
            urlencoded.append("redirect_uri", redirect_uri);
            urlencoded.append("client_id", clientId);
            urlencoded.append("client_secret", clientSecret);

            var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: urlencoded,
            redirect: 'follow',
            mode: 'no-cors'
            };

            fetch("https://signin.bindid-sandbox.io/token", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => handleError(error));
        }

        function handleError(err) {
         // Add code to process the authentication error here
         console.log('error:' + err)
        }
        
        window.XmBindId.processRedirectResponse()
        .then(
             res => { 
                res => JSON.stringify(res)
            },
            err => handleError(err))
        .then(
            data => {
                sendAuthCodeToServer(JSON.parse(data).code)
            },
            err => handleError(err)
        )
             
    </script>

</body>